<h1>Welcome to login page!!!</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="Enter Username">
    <input type="password" name="password" placeholder="Enter Password">
    <button>Login</button>
</form>