<h1>Welcome to signUp Page!!!</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="Enter Username">
    <input type="password" name="password" placeholder="Enter Password">
    <button>Register</button>
</form>